{
  "presets": ["env"],
  "only": [
    "sdk_searchbar.js"
  ],
  "minified": true,
  "comments": false,
  "plugins": ["transform-remove-console"],
  "sourceMaps": "true",
  "sourceMapTarget": "sdk_searchbar.js"
}